@{
    ViewData["Title"] = "My Gallery";
}
<div class="container text-center mt-4">
    <h1>My Gallery</h1>
    <p class="lead">A collection of my track pictures.</p>

    <div class="row mt-4">
        <div class="col-md-4">
            <img src="~/images/gallery1.jpg" alt="Gallery Image 1" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-4">
            <img src="~/images/gallery2.jpg" alt="Gallery Image 2" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-4">
            <img src="~/images/gallery3.jpg" alt="Gallery Image 3" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-4 mt-4">
            <img src="~/images/gallery4.jpg" alt="Gallery Image 4" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-4 mt-4">
            <img src="~/images/gallery5.jpg" alt="Gallery Image 5" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-4 mt-4">
            <img src="~/images/gallery6.jpg" alt="Gallery Image 6" class="img-fluid rounded shadow">
        </div>
    </div>
</div>