@{
    ViewData["Title"] = "About Us";
}
<div class="container text-center mt-4">
    <h1>About this C# Website</h1>
    <p class="lead"> THis project was made using ASP.NET Core MVC.</p>

    <div class="row mt-4">
        <div class="col-md-6">
            <h2>My Goal for this assignment</h2>
            <p>
                This website is built as part of Module 5 for my survey of Porgramming Languages, we are focusing on 
                C# and ASP.NET Core MVC. 
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <h3> Technologies Used</h3>
            <ul class="list-group">
                <li class="list-group-item">C# .NET Core</li>
                <li class="list-group-item">ASP.NET Core MVC</li>
                <li class="list-group-item">Entity Framework</li>
                <li class="list-group-item">Bootstrap for UI</li>
                <li class="list-group-item">GitHub for Version Control</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Features of This Website</h3>
            <ul class="list-group">
                <li class="list-group-item">Dynamic Navigation Bar</li>
                <li class="list-group-item">Backend Logic Implementation</li>
                <li class="list-group-item">User-Friendly UI</li>
                <li class="list-group-item">Custom About & Contact Pages</li>
                <li class="list-group-item">GitHub Repository Integration</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Meet me</h3>
            <p>
                Hi! I'm Juan Barrera, I'm a computer Sceince and international Business Major, 
                this is my senior year here at point park university and I'm excited for what's next!

            </p>
            <p>
                Feel free to check out my <a href="https://github.com/your-github-profile" target="_blank">GitHub</a> 
                for more projects and contributions.
            </p>
        </div>
    </div>
</div>
