@{
    ViewData["Title"] = "Contact";
}
<div class="container text-center mt-4">
    <h1>Contact Me</h1>
    <p class="lead">Feel free to reach out! I'm always open to discussing projects, programming, and collaboration.</p>

    <div class="row mt-4">
        <div class="col-md-6">
            <h2>Email</h2>
            <p>
                <a href="mailto:juanjbarreraj@gmail.com">juanjbarreraj@gmail.com</a>
            </p>
        </div>
        <div class="col-md-6">
            <h2>Phone</h2>
            <p>
                <a href="tel:+14124820935">412-482-0935</a>
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h2>GitHub</h2>
            <p>
                <a href="https://github.com/JuanBarrera0305" target="_blank">Visit My GitHub</a>
            </p>
        </div>
    </div>

</div>