@if (DateTime.Now.Hour < 12)
{
    <p>Good morning! Welcome to our website.</p>
}
else if (DateTime.Now.Hour < 18)
{
    <p>Good afternoon! Hope you're having a great day.</p>
}
else
{
    <p>Good evening! Enjoy browsing our site.</p>
}