@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Privacy Notice: This project is for educational purposes only and is part of a school assignment. It does not collect or store any personal data. All interactions within the application are temporary and for learning purposes. Feel free to use and explore the application to enhance your own learning experience.</p>
